.gradient-btn-3d {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 140px;
    height: 40px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 1%);
    border-radius: 30px;
    border: transparent;
    transition: all 0.2s ease;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px #fff;
    text-decoration: none;

}

.gradient-btn-3d:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    transform: translateY(-1px);
}

.gradient-btn-3d:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    transform: translateY(0);
}

.gradient-btn-3d:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}